$color-primary: hsl(171, 66%, 44%);
$color-secondary: hsl(233, 100%, 69%);
$color-headings: hsl(210, 10%, 33%);
$color-body: hsl(201, 11%, 66%);
$color-white: #fff;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Typography

html {
  font-size: 62.5%;
}
body {
  font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: $color-body;
  line-height: 1.7;
  text-align: center;
}

h1,
h2,
h3 {
  color: $color-headings;
  margin-bottom: 1rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
}

// Links

a {
  text-decoration: none;
}

.link {
  color: $color-headings;
  transition: color 0.15s;

  &:hover {
    color: $color-primary;
  }
}

// Lists
.nav {
  display: flex;
  flex-direction: column;
  &__list {
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
}

// Icons
.icon {
  &--s {
    font-size: 2.4rem;
  }
  &--m {
    height: 3.2rem;
  }
  &--l {
    width: 5.5rem;
    height: 5.5rem;
  }
  &--xl {
    width: 12.5rem;
    height: 12.5rem;
  }
}

// buttons

.btn {
  border: none;
  padding: 2rem;
  border-radius: 100px;
  letter-spacing: 1px;
  font-size: 1.8rem;
  width: 100%;
  max-width: 40rem;
  font-weight: 600;
  font-family: inherit;

  box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.4);

  &--primary {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: inset 0 -4px 0 0 darken($color-primary, $amount: 10%),
      0 10px 50px -10px $color-primary;
  }
  &--secondary {
    background-color: $color-secondary;
    color: $color-white;
    box-shadow: inset 0 -4px 0 0 darken($color-secondary, $amount: 10%),
      0 10px 50px -10px $color-secondary;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    max-width: 25rem;
  }
}

// Media

.media {
  img {
    margin-bottom: 3rem;
  }
  &__heading {
    margin-bottom: 2rem;
  }
}
